<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz._007666.mybatis.mapper.CurdMapper">
    <insert id="insertUser" parameterType="User" keyProperty="id">
        insert into test.user
        values (null, #{username}, #{password}, #{gender}, #{phone});
    </insert>



    <delete id="deleteUser">
        delete from user where id=#{id}
    </delete>

    <select id="getUserById" resultType="User">
        select *
        from test.user
        where id=#{id}
    </select>

    <update id="updateUser">
        update user
    <set>
        <if test="username!=null">username=#{username}</if>
        <if test="password!=null">password=#{password}</if>
        <if test="gender!=null">gender=#{gender}</if>
        <if test="phone!=null">phone=#{phone}</if>
    </set>
    where id=#{id}
    </update>
</mapper>