<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz._007666.mybatis.mapper.LabelMapper">
    <cache/>
    <resultMap id="myResultMap" type="User">
        <id property="id" column="id"></id>
        <result property="username" column="username"></result>
        <result property="password" column="password"></result>
        <result property="phone" column="phone"></result>
        <result property="gender" column="gender"></result>
    </resultMap>

    <resultMap id="userInfoAndAddress" type="User">
        <id property="id" column="id"/>
        <result property="username" column="username"></result>
        <result property="password" column="password"></result>
        <result property="phone" column="phone"></result>
        <result property="gender" column="gender"></result>
        <association property="address" select="getAddressById" column="id"/>
        <collection property="comments" ofType="comment" select="getUserComments" column="id"/>
    </resultMap>
    <resultMap id="commentResultMap" type="comment">
        <id property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="commentText" column="comment_text"/>
    </resultMap>

    <select id="getUserComments" resultMap="commentResultMap">
        select * from comment where user_id=#{id}
    </select>
    
    <select id="getAddressById" resultType="address">
        select * from address where id=#{id};
    </select>

    <select id="selectUserAddress" resultMap="userInfoAndAddress">
        select * from user where user.id = #{id}
    </select>


    <sql id="userColumns"> ${table}.`id`, ${table}.`username`, ${table}.`password`, ${table}.`phone`, ${table}.`gender` </sql>

    <select id="sqlTemplate" resultType="User">
        select <include refid="userColumns"><property name="table" value="user"/></include> from user limit 1
    </select>
    
    <select id="singleParameterType" resultType="User">
        select * from user where id=#{id,javaType=int}
    </select>

    <select id="myResultMap" resultMap="myResultMap">
        select * from user limit 1;
    </select>
</mapper>